<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #DCB669;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Find us on social media</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a href="https://www.facebook.com/Hugo-Mori-573113179817314/" class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4" style="font-size: 24px;"> </i>
          </a>
          <!-- Github -->
          <a href="https://github.com/hugo-mori" class="fb-ic">
            <i class="fab fa-github-square white-text mr-4" style="font-size: 24px;"></i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text mr-4" style="font-size: 24px;"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase">Dream Palaces</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>All information provided herein has been obtained from sources believed reliable, but may be subject to errors, omissions, change of price, prior sale, or withdrawal without notice. Dream Palaces
         and its affiliates make no representation, warranty or guaranty as to accuracy of any information contained herein. You should consult your advisors for an independent verification of any properties.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.lewagon.com/fr/lausanne">Le Wagon</a>
        </p>
        <p>
          <a href="https://www.airbnb.com/l/sem_recommend_destination?af=43720035&c=.pi0.pk53373639558_252707103989_c_12026464216&sem_position=&sem_target=aud-295053684620:kwd-12026464216&location_of_interest=&location_physical=1003213&ghost=true&gclid=EAIaIQobChMIjZzA56vi5wIVg6oYCh06oA8NEAAYASAAEgKN2vD_BwE">Air bnb</a>
        </p>
        <p>
          <a href="https://images.unsplash.com/photo-1505843513577-22bb7d21e455?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2390&q=80">Christies Real Estate</a>
        </p>
        <p>
          <a href="https://images.unsplash.com/photo-1523632117739-12cc7fa95ad0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1536&q=80">Carribbean Dream Stays</a>
        </p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <%= link_to "Your Account", edit_user_registration_path  %>
        </p>
        <p>
          <%= link_to "Create a Palace", new_palace_path %>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i>Chemin du Closel 5, 1020 Renens</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>hugo.mori@palace.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 41 21 234 56 78</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 41 21 567 89 54</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
