<!-- <div class="container-booking">
  <div class="card-booking">
    <div class="card bg-dark text-white">
      <img src="https://images.unsplash.com/photo-1512100356356-de1b84283e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2209&q=80" class="card-img" alt="Have a nice trip">
      <div class="card-img-overlay">
        <h3 class="card-title">Booking successful</h3>
        <p class="card-text">Thank you for your trust</p>
      </div>
    </div>
  </div>
</div> -->


<div class="container-booking">
  <div class="card-booking card mb-3">
    <img src="https://images.unsplash.com/photo-1512100356356-de1b84283e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2209&q=80" class="card-img-top" alt="Have a nice trip">
    <div class="card-body">
      <h3 class="card-title">Booking successful</h3>
      <p class="card-text">Thank you for your trust</p><br><br>
      <%= link_to "Home Page", palaces_path, class: 'btn btn-dark btn-sm text-white' %>
    </div>
  </div>
</div>

