.card-palace {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 12px;
  margin-bottom: 24px;
}

.card-palace img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.container {
  a {
    text-decoration: none;
    color: #251E17;
  }
}

.card-palace h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-palace p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: #DCB669;
}

.card-palace .card-palace-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
}

.card-booking {
  padding: 50px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 24px;
  margin-bottom: 24px;
}

.card-booking img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-booking h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 24px;
  opacity: .7;
  margin: 0;
  color: #DCB669;
}

.card-booking a {
  margin-top: 10px;
}

