.form-palace {
  margin: 60px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: #251E17;

  h3{
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}


